* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  /* background-color: aliceblue; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50%;
  min-width: 800px;
}

.account-summary {
  background-color: rgb(124, 173, 175);
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-address {
  margin-bottom: 5px;
  font-size: 1rem;
}

.family-name {
  font-size: 1.5rem;
}

.account-txs {
  background-color: yellowgreen;
  width: 40%;
  padding: 18px;
  display: flex;
  flex-direction: column;
}

.spacer {
  height: 100px;
}
